/ {
    rjtag {
        compatible = "gpio-keys";

        tck  {
            gpios = <&gpiob 12 GPIO_ACTIVE_HIGH>;
        };

        tms  {
            gpios = <&gpiob 13 GPIO_ACTIVE_HIGH>;
        };

        tdo  {
            gpios = <&gpiob 14 GPIO_ACTIVE_HIGH>;
        };

        tdi  {
            gpios = <&gpiob 15 GPIO_ACTIVE_HIGH>;
        };
    };
};

&zephyr_udc0 {
    cdc_acm_uart0 {
        compatible = "zephyr,cdc-acm-uart";
    };
};
